
    <main>
       <!-- ... Previous HTML code ... -->
<section class="product-table">
    <% if(locals.lastVisit){ %>
        <div class="alert alert-primary" role="alert">
        Your Last Visit was on : <%= locals.lastVisit %>
        </div>
        <% } %>
    <h2>Product Table</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th> Operations</th>
            </tr>
            
        </thead>
        <tbody>
            <%  products.forEach(product=>{%>
                <tr>
                    <td><%= product.id %></td>
                    <td><%= product.name %></td>
                    <td><%= product.desc %></td>
                    <td><%= product.price %></td>
                    <td><img src="<%= product.imageUrl%>"></td>
                    <td>
                        <a href="/update/<%= product.id %>"
                        <button type="submit" >Update</button>
                    </a>
                    <button class="btn-btn-danger" onclick="deleteProduct('<%= product.id %>')">Delete</button>
                    </td>
                    
                
                </tr>
2
           <% })%>
           
           
            <!-- Add more product rows here -->
        </tbody>
    </table>
</section>
<!-- ... Rest of your HTML code ... -->

    </main>
