
    <% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%=errorMessage%>
      </div>
      <%}%>

    <h1>Update Product</h1>
    <form method="post" action="/update">
        <div>
            <input type="hidden" id="id" name="id" value="<%= product.id %>">
        </div>
        <div>
            <label for="name">Product Name:</label>
            <input type="text" id="name" name="name" value="<%= product.name %>">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="desc" name="desc"><%= product.desc %></textarea>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01" value="<%= product.price %>">
        </div>
        <div>
            <label for="image">Image URL:</label>
            <input type="url" id="imageUrl" name="imageUrl" value="<%= product.imageUrl %>">
        </div>
        <button type="submit">Update Product</button>
    </form>

