<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Playgoround</h1>
    <ul>
        <% for(let i=1;i<=10;i++){%>
            <li>
                <%= i %>
            </li>
        <%}%>
    </ul>

    <% if(true){ %>
              <h1>Its true</h1>  
        <%}else{ %> 
            <h1>Its False</h1>
            <%} %>

   <p>Contacts</p>
   <ul>
    <% for(let i of contact_list){ %>

        <li>++++
            <p> <%= i.name %></p>
            <p> <%= i.number %></p>
            <p> <%= i.email %></p>
        </li>

        <%}%>
   </ul>

   <form action="/create-contact" method="post">
    <input type="text" name="name" placeholder="Enter name" required>
    <input type="text" name="phone" placeholder="phone" required>
    <input type="text" name="email" placeholder="Enter the Email" required>

    <button type="submit">Add Contact</button>
   </form>
   <script src="home.js"></script>
</body>
</html>